{{ define "main" }}
  <div class='mx-auto flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true) }}
    <div class="w-full break-words flex flex-col min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-start pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <section class="flex max-w-[90rem] flex-col items-start gap-2 px-6 sm:px-4 pt-8 md:pt-12">
        <h1 class="text-4xl font-bold leading-tight tracking-tighter md:text-5xl mt-6 bg-clip-text text-transparent bg-gradient-to-r from-gray-900 to-gray-600 dark:from-gray-100 dark:to-gray-400">
          Fachschaft Computerlinguistik&nbsp;<br class="sm:block hidden" />
        </h1>

        <p class="mt-4 text-xl text-gray-600 dark:text-gray-400 sm:text-xl">
          Herzlich Willkommen auf unserer Seite! <br class="sm:block hidden" />
          Hier findest du alle Infos zum Computerlinguistik Studium. Von Studenten für Studenten.
        </p>
      </section>

      {{ partial "home/upcoming_events.html" . }}
      {{ partial "home/news.html" . }}
    </div>
  </div>
{{ end }}
