html {
    background-color: #f3f3f4;
    /*Gray*/
    font-family: Calibri;
    letter-spacing: 0.005em;
}

body {
    width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    ;
}

header {
    background-color: dimgrey;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

footer {
    background-color: lightgray;
    padding: 1rem 0;
    margin-top: 5rem;
}

a {
    color: seagreen;
}

a:visited {
    color: mediumseagreen;
}

a:hover,
a:active {
    color: #005000/* ~ darker than darkgreen;*/
}

a:link {
    text-decoration: none;
}

table {
    border-collapse: separate;
    border-spacing: 0.0em;
    width: 100%;
    background-color: lightgrey;
    text-align: left;
    border-radius: 0.5rem;
    table-layout: auto;
}

th {
    background-color: black;
    border-bottom: 0.2rem solid #ddd;
    border-color: dimgrey;
    font-family: courier new;
    color: white;
    height: 2.5rem;
    padding: 0.2em 0.5em;
}

td {
    text-align: left;
    padding: 0.3em 0.5em;
    border-right: 0.06rem solid #ddd;
    border-left: 0.06rem solid;
    border-color: lavender;
    font-size: 1.25rem;
}

ul {
    font-size: 1.2rem;
    font-weight: 400;
}

h1 {
    color: limegreen;
    font-family: Trebuchet MS;
    font-size: 1.9rem;
    letter-spacing: 0.05em;
}

h2 {
    margin-bottom: -3px;
    padding-top: 20px;
    letter-spacing: 0.02em;
    font-size: 1.5rem;
}

h3 {
    font-family: Trebuchet MS;
    font-size: 1.7rem;
    letter-spacing: 0.05em;
}

.header_1 {
    background: dimgrey;
    padding: 0.6rem 0;
    border-radius: 0.5rem;
    margin-bottom: -1.1rem;
}

.header_2 {
    background: dimgrey;
    padding: 0.06rem 0.3rem;
    border-radius: 0.5rem;
    margin-bottom: -1.1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.container_2 {
    overflow-x: auto;
}

ul {
    padding-left: 3rem;
}

.no_indent {
    padding: 0;
}

.list_nav {
    display: inline-block;
    padding: 0 1.25rem;
    font-size: 1.9rem;
    color: white;
    font-weight: 550;
}

.list_nav a {
    color: limegreen;
    text-decoration: none;
}

.list_nav a:hover {
    color: white;
}

.list_1 {
    padding: 0 1.25rem;
    font-size: 1.5rem;
    font-family: monospace;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 10vw;
}

.open {
    height: 100vh;
}

.hidden {
    display: none;
}

#myTopnav a:hover {
    background-color: limegreen;
    overflow: hidden;
}

.topnav {
    background: dimgrey;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    background-color: dimgrey;
    font-weight: 600;
    color: limegreen;
}


/* Change the color of links on hover */

.topnav a:hover {
    color: white;
    font-weight: 600;
}

figure {
    display: table-cell;
    padding: 0 4px;
    text-align: center;
    /*max-width: 180px;*/
}

.monospace {
    font-family: monospace;
    font-size: 1.2rem;
    letter-spacing: 0.001em;
}

.indentation {
    padding-left: 3rem;
}

.anfahrt {
    max-width: 500px;
    min-width: 20px;
}

@media all and (max-width: 720px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }
    .list_nav {
        display: block;
        text-align: center;
        padding: 1.5rem 0;
        font-size: 1.5rem;
    }
    .list_nav a {
        font-size: 1.4rem;
    }
    .nav-toggle {
        display: block;
    }
    body {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    .bericht {
        font-size: 1.1rem;
    }
    .qr_code {
        width: 8rem;
    }
}